<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FMPG</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <!-- <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"> -->
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>UIET HOSHIARPUR </small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+917321835093</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>fmpg974@gmail.com</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=" # "><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=" # "><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="  #"><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="  #"><i class="fab fa-instagram fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href="#"><i class="fab fa-youtube fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa"><img src="img/Screenshot_2024-08-07_at_4.28.55_PM-removebg-preview.png" alt=""></i>FMPG</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="index" class="nav-item nav-link ">Home</a>
                    <a href="about" class="nav-item nav-link">About</a>
                    <a href="service" class="nav-item nav-link">Services</a>
                    <!-- <a href="package.html" class="nav-item nav-link">Packages</a> -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="destination" class="dropdown-item">Destination</a>
                            <a href="booking" class="dropdown-item">Booking</a>
                            <a href="team" class="dropdown-item">Team</a>
                        </div>
                    </div>
                    <a href="contact" class="nav-item nav-link">Contact</a>
                </div>
                <a href="/profile" class="btn btn-primary rounded-pill py-2 px-4"><i class="fa-regular fa-user"></i></a>
            </div>
        </nav>

        <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white animated slideInDown">FAQs</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index">Home</a></li>
                                <li class="breadcrumb-item"><a href="index">Pages</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">FAQs</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

<div class="f101">
    <h1>Frequently Asked Questions</h1>
       
        <br><b>1.What types of accommodations do you offer?</b>
       <br> -We offer a variety of PG accommodations including single rooms, shared rooms, and dormitory-style arrangements. Some PGs come with additional amenities like meals, Wi-Fi, laundry, and housekeeping.
        
       <br>  <b>2.How do I book a PG through your service?</b>
       <br> -You can book a PG by contacting us directly or through our website/app. Once you choose a PG, we’ll guide you through the booking and payment process.
        
        <br><b>3.What payment methods are accepted?</b>
       <br> -We accept various payment methods including UPI, and digital wallets. You can choose the payment method that is most convenient for you.
        
        <br><b> 4.Do I need to pay any advance or deposit?</b>
       <br> -Most PGs require a security deposit along with the first month’s rent. The deposit amount varies depending on the PG and location. We will inform you of any deposit requirements during the booking process.
        
         <br><b>5.Is there any service charge for using your platform?</b>
        <br>-Yes, we charge a nominal service fee for helping you find and book your PG. The exact fee will be communicated to you before you finalize your booking.
        
        <br><b>6.How do you verify the PGs listed on your platform?</b>
        <br>-We conduct thorough checks to verify the authenticity and quality of each PG listed on our platform. This includes background checks, visits, and reviews from previous tenants.
        
        <br><b>7.What if I face any issues after moving in?</b>
       <br> -We offer post-booking support to help you with any issues or concerns that may arise after you move in. You can reach out to our customer support team for assistance.
        
        <br><b>8.Can I cancel my booking?</b>
        <br>-Yes, you can cancel your booking, but the cancellation policy depends on the specific PG’s terms. Some PGs may offer a full or partial refund, while others may have a non-refundable policy.
        <br>
         <b>9.How do I get a refund if I cancel my booking?</b>
       <br> -If you are eligible for a refund based on the PG’s cancellation policy, we will process your refund within [5 working days]. The refund will be credited to your original payment method.
        
        <br> <b>10.What if I want to change my PG after moving in?</b>
        <br>-If you wish to move to a different PG after moving in, we can assist you in finding a new place. However, any financial implications, such as forfeiture of deposit, depend on the original PG’s terms.
        
        <br> <b>11.How can I contact customer support?</b>
        <br>-You can contact our customer support team via phone, email, or live chat on our website. We are available [mention hours/days] to assist you with any queries or issues.
        
        <br> <b>12.Do you offer assistance with relocation?</b>
        <br>-Yes, we can assist with your relocation by connecting you with reliable movers and packers. This service is optional and comes with an additional cost.
        
        <br><b>13.Can I schedule a visit to the PG before booking?</b>
        <br>-Yes, you can schedule a visit to any PG before making your booking. We recommend visiting the PG to ensure it meets your expectations.

</div> 
   
        

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Company</h4>
                    <a class="btn btn-link" href="about">About Us</a>
                    <a class="btn btn-link" href="contact">Contact Us</a>
                    <a class="btn btn-link" href="privacypolicy" target="_blank">Privacy Policy</a>
                    <a class="btn btn-link" href="TermsAndConditions" target="_blank">Terms & Conditions</a>
                    <a class="btn btn-link" href="FAQs">FAQs & Help</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>UIET Hoshiarpur , india</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+917321835093</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>fmpg974@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=" https://x.com/Find_My_PG " target="_blank"><i class="fab fa-twitter fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank" href=" https://www.facebook.com/profile.php?id=61564104987167 "><i class="fab fa-facebook-f fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank" href=" https://www.linkedin.com/company/findmypg/" ><i class="fab fa-linkedin-in fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank" href="  https://www.instagram.com/f_m_pg?utm_source=qr&igsh=MTl4bm82anA5dmt4aA=="><i class="fab fa-instagram fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" target="_blank" href="http://www.youtube.com/@FMPG"><i class="fab fa-youtube fw-normal"></i></a> </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Gallery</h4>
                    <div class="row g-2 pt-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="img/package-1.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="img/package-2.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="img/package-3.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="img/package-2.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="img/package-3.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="img/package-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Newsletter</h4>
                    <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="index">FMPG</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="index">Home</a>
                            <a href="404">Cookies</a>
                            <a href="contact">Help</a>
                            <!-- <a href="">FQAs</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>