 /* Add some basic styling to the profile page */
 body {
    background-color: #f9f9fa;
}


.padding {
    padding: 2rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#f19456), to(#ee5a6f));
/* background: linear-gradient(135deg, #00ff00, #729af0b0, #a1ff2f); */
background-image: url("https://freevector-images.s3.amazonaws.com/uploads/vector/preview/36213/36213.png");
background-size: cover;
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}


 
h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.slideshowContainer {      
    position: relative;
    overflow: hidden;
    margin: 50px 0 75px;
    width: 100%;
    /* height: 500px; */
    height:50vh;
  }
  
  .imageSlides {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1;
  }
  
  /* add 'visible' class via Javascript */
  .visible {
    opacity: 1;
  }
  
  .slideshowArrow {
    font-size: 7em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
  }
  
  .slideshowArrow:hover {
    opacity: 0.75;
  }
  
  #leftArrow {
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  #rightArrow {
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translate(50%, -50%);
  }
  
  .slideshowCircles {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .circle {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 2px rgba(255, 255, 255, 0.5);
    transition: 1s ease-in-out;
  }
  
  .dot {
    background-color: rgba(255, 255, 255, 0.7);
    border: solid 2px rgba(255, 255, 255, 0.5);
  }
  
  body{
      margin-inline: 6%;
  }
  
  
  body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 20px;
      background-color: #f4f4f4;
  }
  
  /* .accommodation-details {
      max-width: 800px;
      margin: auto;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */
  
  .image-gallery img {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 20px;
  }
  
  .details-section h2 {
      color: #333;
      margin-top: 20px;
  }
  
  ul {
      list-style: none;
      padding: 0;
  }
  
  ul li {
      background: #e2e2e2;
      margin: 5px 0;
      padding: 10px;
      border-radius: 4px;
  }
  
  .booking-btn {
      display: block;
      width: 100%;
      padding: 10px;
      background: #007bff;
      color: #fff;
      border: none;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
      font-size: 18px;
      margin-top: 20px;
  }
  
  .booking-btn:hover {
      background: #0056b3;
  }
  
  .accommodation-details{
    position: relative;
    top: 120px;

  }

  .footer-pos{
    position: relative;
    top: 100px;
  }



.error{
	font-weight: 500;
	color: #f00;
	text-transform: capitalize;
	margin: 7px 0px;
}






/* logout */
.logout{
    width: 80%;
    display: flex;
    justify-content: center;
}

