<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FMPG</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />



    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>UIET HOSHIARPUR </small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+917321835093</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>fmpg974@gmail.com</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=" https://x.com/Find_My_PG " target="_blank"><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank" href=" https://www.facebook.com/profile.php?id=61564104987167 "><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank" href=" https://www.linkedin.com/company/findmypg/" ><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank" href="  https://www.instagram.com/f_m_pg?utm_source=qr&igsh=MTl4bm82anA5dmt4aA=="><i class="fab fa-instagram fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" target="_blank" href="http://www.youtube.com/@FMPG"><i class="fab fa-youtube fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0" >
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0" style=" background-color: rgb(192, 231, 221);">
            <a href="" class="navbar-brand p-0"> 
                <h1 class="text-primary m-0"><i class="fa"><img src="img/Screenshot_2024-08-07_at_4.28.55_PM-removebg-preview.png" alt=""></i>FMPG</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="index" class="nav-item nav-link">Home</a>
                    <a href="about" class="nav-item nav-link">About</a>
                    <a href="service" class="nav-item nav-link">Services</a>
                    <!-- <a href="package.html" class="nav-item nav-link">Packages</a> -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="destination" class="dropdown-item">Destination</a>
                            <a href="booking" class="dropdown-item active">Booking</a>
                            <a href="team" class="dropdown-item">Team</a>
                            <!-- <a href="testimonial.html" class="dropdown-item">Testimonial</a> -->
                            <!-- <a href="404" class="dropdown-item">404 Page</a> -->
                        </div>
                    </div>
                    <a href="contact" class="nav-item nav-link">Contact</a>
                </div>
                <a href="/profile" class="btn btn-primary rounded-pill py-2 px-4"><i class="fa-regular fa-user"></i></a>
            </div>
        </nav>

        
    </div>
        <!-- Hero End -->
    <div class="accommodation-details">
        <h1 class="accommodation-title">Sahara PG</h1>
        <div class="image-gallery">
            <div class="slideshowContainer">
  
                <!-- Replace the image 'src' with the images in your project.
                Javascript is set up so that you can add as many images as you like, but make sure that you match the number of 'circle' span elements (below) to the number of images -->
                  <img class="imageSlides" src="PG-photos\sahara outside.jpg" alt="beach side city view">
                  <img class="imageSlides" src="PG-photos\sahara room.jpg" alt="leaf on the ground">
                  <img class="imageSlides" src="PG-photos\sahara toilet.jpg" alt="lake surrounded by mountains">
                  <img class="imageSlides"  src="PG-photos\SAHARA HALL.jpg" alt="">
                  <img class="imageSlides"  src="PG-photos\sahara mess.jpg" alt="">
                <!-- I would recommend to replace these 'span' elements with 'img' files
                for each the left and right arrow that fits your project, and size accordingly.
                I've shown 'span' elements because I didn't want to upload files. -->
                  <span id ="leftArrow" class="slideshowArrow">&#8249;</span>
                  <span id ="rightArrow" class="slideshowArrow">&#8250;</span>
                  
                  <div class="slideshowCircles">
                <!-- Filled 'dot' class is set to first image in slideshow, and then via Javascript the filled 'dot' class follows the current image.
                Make sure you match the number of these 'circle' span elements to the number of images in your slideshow. -->
                    <span class="circle dot"></span>
                    <span class="circle"></span>
                    <span class="circle"></span>
                    <span class="circle"></span>
                    <span class="circle"></span>
                  </div>
                  
                </div>
        </div>
        <div class="details-section">
            <h2>Description</h2>
            <p>Experience a thoughtfully designed living space where security and comfort are top priorities. With consistent support and a tranquil environment, you can enjoy a seamless and pleasant stay, allowing you to focus on what matters most while feeling well taken care of.</p>
            <h2>Amenities</h2>
            <ul>
                <li>Wi-Fi</li>
                <li>attached bathroom</li>
                <li>fan</li>
                <li>24*7 Electricity</li>
                <li>RO Water</li>
                <li>Water Cooler</li>
                <li>24*7 Security</li>
                <li>GYM</li>
            </ul>
            
            <h2>Location</h2>
            <h6>Distance From</h6>
            <pre>PUSSGRC                      -    1.3km</pre>
            <pre>Hoshiarpur railway station   -     6.1km</pre>
            <pre>Hoshiarpur Bus Stand         -   6.5km</pre>
            <pre>Golden temple (Amritsar)     -   106km</pre>
            <div class="mapp">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9570.25968669442!2d75.9660280143558!3d31.51772801173645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391ae324e6607659%3A0x2d07791aaaf52670!2sDivine%20Home!5e0!3m2!1sen!2sin!4v1724005796746!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  </div>
            
            <h2>Price</h2>
            <p>Rs 4500 per Month for single room</p>
            <p>Rs 2500 per Month for sharing</p>
            <p>Rs 4000 per Month for MESS</p>
            
            <button class="booking-btn" onClick="bookButton()">Book Now</button>
        </div>
    </div>


    

  
  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn footer-pos" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Company</h4>
                <a class="btn btn-link" href="index">About Us</a>
                <a class="btn btn-link" href="contact">Contact Us</a>
                <a class="btn btn-link" href="">Privacy Policy</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
                <a class="btn btn-link" href="">FAQs & Help</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Contact</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>UIET Hoshiarpur , india</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+917321835093</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>fmpg974@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=" https://x.com/Find_My_PG " target="_blank"><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank" href=" https://www.facebook.com/profile.php?id=61564104987167 "><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank" href=" https://www.linkedin.com/company/findmypg/" ><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" target="_blank" href="  https://www.instagram.com/f_m_pg?utm_source=qr&igsh=MTl4bm82anA5dmt4aA=="><i class="fab fa-instagram fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" target="_blank" href="http://www.youtube.com/@FMPG"><i class="fab fa-youtube fw-normal"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Gallery</h4>
                <div class="row g-2 pt-2">
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="img/package-1.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="img/package-2.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="img/package-3.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="img/package-2.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="img/package-3.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="img/package-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Newsletter</h4>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div> -->
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="index">FMPG</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="index">Home</a>
                        <!-- <a href="404">Cookies</a> -->
                        <a href="contact">Help</a>
                        <!-- <a href="">FQAs</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->

<script src="/javascripts/readmore.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
<script>
    const bookButton = () => {
        const roomID = "66c75362a4dd4e42ce5253a6";
        const queryString = `roomID=${roomID}`;
        window.location.href = `/booking?${queryString}`;
    }
</script>
</body>
</html>